---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 200
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
SpaceBeforeParens: ControlStatements

SortIncludes: true
IncludeBlocks: Regroup
