# build system clutter
build-*
Testing

# auto-saved files
*~

# hidden files
.cproject
.project

# latex clutter
*.pdf
*.aux
*.blg
*.log
*.bbl
*.dvi
*.idx
*.out
*.tdo
*.toc

# something pythoon related
*.pyc
__pycache__

# CMake
*.cmake
CMakeFiles
Makefile

#others
.pydevproject
.settings/
Debug/
Codeblocks
