ipython 
matplotlib 
matplotlib-inline 
# mpi4py==3.1.5
numpy 
pandas 
pybind11 
pybind11-global 
scipy 
vtk 
mayavi
ipyevents
pyevtk
pillow
# other requirements:
# default-jre
# libboost-all-dev
# python3-pip
# libeigen3-dev
configobj
PyQt5
PyQt5-Qt5
PyQt5-sip
QtPy
qtconsole
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort

