	/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
      margin: 0 auto;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 8px ;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blue;
  color: white;
}
ul {
	 display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}