name: testing

on:
  push:
    branches:
      - master
      - testing
  pull_request:
    branches:
      - master
      - testing
  workflow_dispatch:
    inputs:
      force_run:
        description: 'Force run tests manually'
        required: false
        default: 'true'

jobs:
  build:
    if: >
      (github.event_name == 'workflow_dispatch' && github.event.inputs.force_run == 'true') ||
      (github.event_name == 'push' && contains(github.event.head_commit.message, 'run-test')) ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.title, 'run-test'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: install miniforge3
        run: |
          wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
          bash Miniforge3.sh -b -f
          rm Miniforge3.sh
          source "${HOME}/miniforge3/etc/profile.d/conda.sh"
          conda activate

      - name: create conda environment
        run: |
          source "${HOME}/miniforge3/etc/profile.d/conda.sh"
          conda env create -f environment.yml
          conda activate cpb
          which python

      - name: build CPlantBox
        run: |
          source "${HOME}/miniforge3/etc/profile.d/conda.sh"
          conda activate cpb
          which python
          git submodule update --init --recursive
          cmake -DPython3_EXECUTABLE=$CONDA_PREFIX/bin/python .
          make install
          echo "Run a simple test"
          cd tutorial/examples/
          python example1a_small_noplot.py

      - name: unit tests
        run: |
          source "${HOME}/miniforge3/etc/profile.d/conda.sh"
          conda activate cpb
          which python
          echo "Run unit tests"
          cd test/
          for f in *.py; do python3 "$f"; done
