/* General Layout */
.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    height: 100vh;
    background-color: #2C3E50;
    color: #ECF0F1;
    font-family: 'Arial', sans-serif;
}

/* Sidebar */
.sidebar {
    background: #34495E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.dropdown, .slider, .button {
    width: 100%;
}

/* Main Content */
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    gap: 20px;
}

/* Tabs */
.custom-tabs {
    
  padding: 10px;
    border-radius: 5px;
}

.tab-content {
    padding: 15px;
    border-radius: 8px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
}

/* --- Fix the size of tabs --- */
.tab, .tab--selected {
    font-size: 12px;   /* Adjust font size */
    flex: 1;  /* Equal width for all tabs */
    max-width: 150px;  /* Set a fixed max width */
    text-align: left;  /* Center text inside the tab */
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;  /* Hide overflowing text */
    /*text-overflow: ellipsis;  /* Show '...' for long text */
    padding: 10px;
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
    transition: background 0.3s ease-in-out;
}





/* Sliders */
.sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Summary Box */
.summary-container {
    background: #1B2631;
    padding: 15px;
    border-radius: 8px;
}

.summary-box {
    background: #212F3C;
    padding: 15px;
    min-height: 150px;
    border-radius: 5px;
    white-space: pre-wrap;
}

